---
// src/pages/index.astro
---

<html lang="es">
  <head>
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="refresh" content="0; url=/es/" />
    <title>Redireccionando...</title>
  </head>
  <body>
    <p>Redireccionando automáticamente a tu idioma preferido.</p>
  </body>
</html>
