---
import "../styles/global.css";
---

<header
  class="bg-white border-b border-default fixed w-full top-0 z-50 lg:h-16 sm:h-12"
>
  <div class="max-w-7xl mx-auto h-full grid grid-cols-3 items-center px-4">
    <div
      class="col-start-2 sm:col-start-1 flex justify-center sm:justify-start"
    >
      <a href="/">
        <img
          src="/logo-paloma-blk.svg"
          alt="La Paloma Blanca Entertainment"
          class="w-10 h-10"
        />
      </a>
    </div>
    <div class="col-start-3 flex justify-end">
      <nav class="h-full flex items-center">
        <button class="sm:hidden text-2xl p-2 text-default">☰</button>
        <ul
          class="hidden sm:flex gap-8 font-medium font-sans h-full items-center"
        >
          <li>
            <a href="/" class="text-[var(--text-primary)] hover:text-[var(--text-secondary)] whitespace-nowrap">Próximos Eventos</a>
          </li>
          <li>
            <a href="/" class="text-[var(--text-primary)] hover:text-[var(--text-secondary)] whitespace-nowrap">Blog</a>
          </li>
          <li>
            <a href="/about" class="text-[var(--text-primary)] hover:text-[var(--text-secondary)] whitespace-nowrap">Sobre Nosotros</a>
          </li>
          <li>
            <a href="/contact" class="text-[var(--text-primary)] hover:text-[var(--text-secondary)] whitespace-nowrap">Contacto</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
